include ./mixins/projectDetails
html
  head
    style
      include style.css
  body
    h1.header Project Dash Board
    div.project-stat
      each projectData in data
        div
          h2.project-name=projectData.name
          - let lanes=projectData.columns
          table
            thead
              tr
                th="lanes"
                th="#cards"
            tbody
              each lane in lanes
                tr
                  td=lane.name
                  td.no-of-cards=lane.cards.length
