include ./mixins/projectDetails
html
  head
    link(href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet")
    style
      include style.css
  body
    h1.header Project Dash Board
    div.projects
      each projectData in data
        article(class=projectData.name class="project")
          h2.name=projectData.name
          - let lanes=projectData.columns
          table.stats
            tbody
              each lane in lanes
                tr
                  td=lane.name
                  td.no-of-cards=lane.cards.length
