html
  head
    style
      include style.css
  body
    h1 Project Dash Board
    div
      h3= projectDetails.name
      div(class="lanes")
        - lanes=projectDetails.columns.nodes
          each lane in lanes
            div(class="lane")
              span(class="lane-header")=lane.name
              div(class="cards")
                - let cards=lane.cards.nodes
                  each card in cards
                    p(class="card-title")=card.content && card.content.title
